@media (max-width: 500px) {
    .container {
        width: 500px;
        overflow: hidden;
    }
}

@media (max-width: 900px) {
    .container {
       width: 80%;
    }
}

@media (max-width: 1368px) {
    .container {
        width: 40%;
        height: 68%;
    }

    h2{
        margin-top: -5px;
    }

    #back-btn {
        margin-top: 20px;
    }
}