* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh; 
}

.hide {
    display: none; 
    color: #4d4d4d;
}

.container {
    margin-top: -5px;
    width: 600px;
    min-width: 400px;
    height: 500px;
    background-color: #458f51;
    padding: 1rem;
    
    
    box-shadow: 10px 9px 9px -3px rgba(117,117,117,0.94);
    -webkit-box-shadow: 10px 9px 9px -3px rgba(117,117,117,0.94);
    -moz-box-shadow: 10px 9px 9px -3px rgba(117,117,117,0.94);
    backdrop-filter: blur(40px);
    
    border-radius: 5px;
}

/* IMC FORM */

h2 {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-bottom:  2rem;
    margin-top: 1.5rem;
    font-size: 32px;
}

#calc-container {
    text-align: center;
    padding: 2rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: #ffffff;
}

.form-control input {
    padding: 1rem 0.5rem;

    border-radius: 10px;
}

.action-control {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: rgb(184, 104, 39);
    cursor: pointer;
    color: #ffffff;
    border: none;
    opacity: 0.9;
    flex: 1;
    
    transition: .2s;
    border-radius: 10px;
}

button:hover {
    opacity: 1;
    transition: .2s;
}

#clear-btn {
    background-color: #351c1c;
}

/* TABLE */

#result-container {
    text-align: center;
    /*    display: flex;  */
    flex-direction: column;
}

#imc-number {
    font-size: 3rem;
    margin-bottom: 0.6rem;
    color: #ffffff;
}

#imc-info {
    font-size: 1.4rem;
    color: #ffffff;
}

#result-container h3 {
    margin-top: 1rem;
    color: #ffffff;
    padding: 1rem;
}

#imc-table {
    margin: 1.5rem;
    font-size: 1rem;
}

.table-header {
    font-weight: bold;
    color: #ccc;
}

.table-header,
.table-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #4d4d4d;
}

.table-header h4,
.table-data p {
    color: #ffffff;
    flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
    max-width: 60px;
}

#back-btn {
    align-self: center;
}

.good {
    color: #021d06;
}

.low{
    color: #dbce12;
}

.medium {
    color: #db6212;
}

.high {
    color: #db1912;
}